<div class = "container">
  <div class = "row">
    <div class = "col-sm-offset-2">
      <br><br><br><div class = "col-sm-offset-1 headline">管理者ログイン</div>
    </div>
    </div>


<br><br><%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class = "row">
      <div class = "col-sm-offset-3 col-sm-6">
        <table class ="table-no-border">



  <div class="field">
                    <tr>
                      <th>メールアドレス</th>
                      <td><%= f.email_field :email, autofocus: true, autocomplete: "email",size:'50px' %></td>
                    </tr>
                    </div>

  <div class="field">
                    <tr>
                      <th>パスワード</th>
                        <td>
                        <%= f.password_field :password, autocomplete: "current-password",size:'50px' %>
                      </td>
                    </tr>
                  </div>
                  </table>

  <div class="actions"><br>
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
      </div>
</div>
</div>
