<div class = "container">
  <div class = "row">
    <div class = "col-sm-offset-1 col-sm-2 "><br><br>
      <div class="admin-top"><h4>管理者画面</h4></div>
    </div>
    </div>

  <div class = "row">
    <div class = "col-sm-3">
      <br><h2>当日の注文数：<%= link_to @orders.count, admin_todays_order_path %>件 </h2>
    </div>
  </div>
</div>
