// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-top{
  background-color: rgba($color: #b3b3b3, $alpha: 0.5);
  width: 120px;
  text-align: center;
}
