<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="footer">nagano cake　<br>no cake no life?　</div>
			</div>
		</div>
	</div>
</footer>
</footer>